<div class="main">
  <div class="container">
    <h1>🌟 College Bucket List 🌟</h1>
    <ul>
      <li><input type="checkbox" /> Snuck to Dogra Rooftop at Night</li>
      <li>
        <input type="checkbox" /> Watched the sun rise from Main building
        rooftop 🌅
      </li>
      <li><input type="checkbox" /> Pulled an All-Nighter</li>
      <li><input type="checkbox" /> Slept through Breakfast</li>
      <li><input type="checkbox" /> Paid a fine for not locking the cycle</li>
      <li><input type="checkbox" /> Marked your Proxy on Timble</li>
      <li><input type="checkbox" /> Chai at SBI-Aunty shop 🫖</li>
      <li><input type="checkbox" /> Jia Sarai Poha at 5am</li>
      <li><input type="checkbox" /> Reached Gate 6 only to find it closed</li>
      <li><input type="checkbox" /> Made friends in DU</li>
      <li><input type="checkbox" /> Cycled to India Gate 🏛️</li>
      <li>
        <input type="checkbox" /> Didn’t avail Xero Degrees' student discount.
      </li>
      <li><input type="checkbox" /> Covertly accessed other hostels' mess</li>
      <li><input type="checkbox" /> Jammed in Biotech Lawn 🧑‍🎤</li>
      <li><input type="checkbox" /> Flouted the curfew timing</li>
      <li><input type="checkbox" /> Took a GPL</li>
      <li><input type="checkbox" /> Asked out your crush</li>
      <li><input type="checkbox" /> Bugged senior into getting a Party</li>
      <li><input type="checkbox" /> Slept in the Library 😴</li>
      <li><input type="checkbox" /> Called a senior “Bhaiya”/“Didi”</li>
      <li><input type="checkbox" /> Group Study in Ex Hall/CGD</li>
      <li><input type="checkbox" /> Chilled in LHC tut rooms</li>
      <li><input type="checkbox" /> Got mentioned on a Confession page</li>
      <li><input type="checkbox" /> Got chased by campus dogs 🐶</li>
    </ul>
  </div>
</div>
