<div class="main">
  <div class="container">
    <h1>🌟 College Bucket List 🌟</h1>
    <ul>
      <li>Snuck to Dogra Rooftop at Night</li>
      <li>Watched the sun rise from Main building rooftop 🌅</li>
      <li>Pulled an All-Nighter</li>
      <li>Slept through Breakfast</li>
      <li>Paid a fine for not locking the cycle</li>
      <li>Marked your Proxy on Timble</li>
      <li>Chai at SBI-Aunty shop 🫖</li>
      <li>Jia Sarai Poha at 5am</li>
      <li>Reached Gate 6 only to find it closed</li>
      <li>Made friends in DU</li>
      <li>Cycled to India Gate 🏛️</li>
      <li>Didn’t avail Xero Degrees' student discount.</li>
      <li>Covertly accessed other hostels' mess</li>
      <li>Jammed in Biotech Lawn 🧑‍🎤</li>
      <li>Flouted the curfew timing</li>
      <li>Took a GPL</li>
      <li>Asked out your crush</li>
      <li>Bugged senior into getting a Party</li>
      <li>Slept in the Library 😴</li>
      <li>Called a senior “Bhaiya”/“Didi”</li>
      <li>Group Study in Ex Hall/CGD</li>
      <li>Chilled in LHC tut rooms</li>
      <li>Got mentioned on a Confession page</li>
      <li>Got chased by campus dogs 🐶</li>
    </ul>
  </div>
</div>
