<footer class="footer">
  <div class="all-footer">
    <div class="all-info">
      <div class="about-event">
        <h2 class="foot-head">Creative events</h2>
        <p class="para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
          reprehenderit temporibus! Cumque voluptatem quos possimus eius
          laboriosam ut adipisci id, voluptate non nulla ea nihil minima dolore
          facere, iste dolorem?
        </p>
      </div>
      <div class="quick-links">
        <h2 class="quick">Quick-links</h2>
        <ul class="unorderlist">
          <li class="li1">
            <button class="eve">Events</button>
          </li>
          <li class="li2"><button class="about">About Us</button></li>
          <li class="li3"><button class="call">Contact</button></li>
          <li class="li4"><button class="private">Privacy Policy</button></li>
        </ul>
      </div>
      <div class="contact-info">
        <h4 class="infa">Contact-info</h4>
        <p>📍Himadri hostel</p>
        <p>🤙(123)456789</p>
        <p>📩gauridhakad9893</p>
      </div>
      <div>
        <h2>Newsletter</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
          sit incidunt cum soluta est quasi qui itaque exercitationem possimus
          delectus.
        </p>
      </div>
    </div>
  </div>
</footer>
