<div class="all-footer">
  <div class="about-event">
    <h2>About events</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, reprehenderit
    temporibus! Cumque voluptatem quos possimus eius laboriosam ut adipisci id,
    voluptate non nulla ea nihil minima dolore facere, iste dolorem?
  </div>
  <div class="quick-links">
    <div><h2>Quick-links</h2></div>
    <p>Events</p>
    <p>About Us</p>
    <p>Contact Privacy Policy</p>
  </div>
  <div class="contact-info">
    <h2>Contact-info</h2>
    <p>📍Himadri hostel</p>
    <p>🤙(123)456789</p>
    <p>📩gauridhakad9893</p>
  </div>
  <div>
    <h2>Newsletter</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sit
      incidunt cum soluta est quasi qui itaque exercitationem possimus delectus.
    </p>
  </div>
</div>
