$gradient: linear-gradient(to right, #ff4e50, #f9d423);

.header-container {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);

  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  .contents {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .head-pages {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-head {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      background-clip: text;
      color: transparent;
      cursor: pointer;
      border: none;

      background-image: $gradient;
    }

    .nav-bar {
      display: flex;
      gap: 34px;
      justify-content: space-around;
      button {
        // --tw-text-opacity: 1;
        color: transparent;
        font-weight: 500;
        cursor: pointer;
        border: none;
        // -webkit-appearance: button;
        background-color: transparent;
        background-clip: text;
        background-image: $gradient;
        font-size: 100%;
        line-height: 24px;

        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }
    }
  }
}
