.header-container{
    display: flex;
  justify-content: flex-start;
  margin-left: 0px;
  border-top-width: 5px;
  border-top-style: solid;
  border-left-width: 5px;
  border-left-style: solid;
  border-right-width: 5px;
  border-right-style: solid;
  margin-bottom: 5px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  margin-top: 0px;
  margin-right: 0px;
  text-shadow: 1px 1px;
  color: slateblue;
  box-shadow: antiquewhite;
  margin-left: 0px;
  margin-right: 0px;

  background-color: antiquewhite;

  .allhead{
    display: flex;
  margin-left: 792px;
  margin-top: 16px;
  gap: 33px;
  font-size: 19px;
}
}


