.home-container{
 background-color: cadetblue;
 margin-top: -23px;
 padding-bottom: 21px;
 .main-head{
    display: flex;
  justify-content: center;
  color: floralwhite;
}
.button{
    gap: 41px;
  display: flex;
  margin-left: 88px;
}
.calender{
    display: flex;
  justify-content: flex-end;
  margin-right: 88px;
  gap: 25px;
  margin-top: -22px;
}
.img{
    margin-top: 40px;
  margin-left: 88px;
}
.details{
    margin-left: 82px;
  margin-top: 10.92px;
}


}
.forloop{
  display: flex;
}


