$gradient: linear-gradient(to right, #ff4e50, #f9d423);
.event-card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 296px;
}

.card-image {
  position: relative;
}

.card-image img {
  width: 400px;
  height: 192px;
  display: block;
  object-fit: cover;
}

.label {
  position: absolute;
  top: 16px;
  right: 16px;
  background: $gradient;
  color: white;
  padding: 6px 12px;
  font-size: 0.9rem;
  border-radius: 20px;
  font-weight: bold;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card-content {
  padding: 16px;
  width: 400px;
  height: 176px;
}

.card-content h2 {
  font-size: 20px;
  margin: 0 0 8px;
  color: #1f1f1f;
}

.card-content .time,
.card-content .location {
  font-size: 14px;
  color: #555;
  margin: 2px 0;
}
