/* You can add global styles to this file, and also import other style files */

/* app.component.css or your layout CSS */
body {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  // background-color: aliceblue;
}
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap");
